{% extends "base.html" %}
{% block page_content %}
        <div class="col s12 m8 l6 items">
           <span class="category-name">todo </span>
            <div>
                <p class="card-panel hoverable" id="item}">
                    <a class="item-done left" href="{{ url_for('apps.edit_list', id=item.id) }}" title="done?"><i class="material-icons left">done</i></a>
                    <span>{{ item.body }}</span>
                    <a class="right delete-item" href="{{ url_for('apps.edit_list', id=item.id) }}" title="delete it?"><i class="material-icons left">delete</i></a>
                    <a class="edit-btn right" id="1" href="#!"><i class="material-icons left">mode_edit</i></a>
                </p>
                <form class="card-panel edit-form" id="form}" action="{{ url_for('apps.edit_list', id=item.id) }}" method="POST">
                    <input placeholder="What to do next?" name="body" type="text" class="validate" value="{{ item.body }}">
                    <a class="waves-effect waves-light btn confirm-btn" href="#!" onclick="document.getElementById('form').submit()">确定</a>
                    <a class="waves-effect waves-light btn cancel-btn" href="#!">取消</a>
                </form>
            </div>
        </div>
{% endblock %}

